<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>게시글 작성</title>
</head>
<body>
<h1>게시글 작성</h1>
<form th:action="@{/posts}" th:object="${post}" method="post">
  <p>제목: <input type="text" th:field="*{title}" /></p>
  <p>내용:
    <textarea th:field="*{content}"></textarea>
  </p>
  <p>유형:
    <select th:field="*{type}">
      <option th:each="type : ${types}" th:value="${type}" th:text="${type.value}"></option>
    </select>
  </p>
  <p><button type="submit">제출</button></p>
</form>
</body>
</html>
