<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Websocket Chat</title>
</head>
<body onload="findAllRoom()">
<label>채팅방리스트</label>
<ul id="roomList">
</ul>


<h1>게시글 목록</h1>
<a href="/posts/new" class="button">게시글 생성</a>
<div th:each="post : ${posts}" class="post">
    <h2>
        <a th:href="@{/posts/{id}(id=${post.postId})}" th:text="${post.title}"></a>
    </h2>
</div>

<div>
    <ul class="pagination">
        <li th:if="${totalPages > 0}" th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
            <a th:href="@{/posts(page=${i})}" th:text="${i + 1}">Page number</a>
        </li>
    </ul>
</div>

<!-- 에러 처리 -->
<script th:if="${param.noPermission}">
    alert('수정 권한이 존재하지 않습니다.');
</script>

<script th:if="${param.notExist}">
    alert('게시글이 존재하지 않습니다.');
</script>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script  th:inline="javascript">
    function findAllRoom() {
        axios.get('/chat/rooms')
            .then(response => {
                const roomList = document.getElementById('roomList');
                roomList.innerHTML = ''; // Clear previous items
                response.data.forEach(room => {
                    const listItem = document.createElement('li');
                    listItem.textContent = room.subwayLine;
                    listItem.addEventListener('click', function() {
                        enterRoom(room.roomId);
                    });
                    roomList.appendChild(listItem);
                });
            })
            .catch(error => {
                console.error('chatRoom load fail:', error);
            });
    }

    function enterRoom(roomId) {
        var sender = [[${nickName}]];
        localStorage.setItem('sender', sender);
        localStorage.setItem('roomId', roomId);
        location.href = '/chat/room/enter/' + roomId;
    }

</script>
</body>
</html>
