<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Websocket Chat</title>
</head>
<body onload="findAllRoom()">
<label>채팅방리스트</label>
<ul id="roomList">
</ul>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    function findAllRoom() {
        axios.get('/chat/rooms')
            .then(response => {
                const roomList = document.getElementById('roomList');
                roomList.innerHTML = ''; // Clear previous items
                response.data.forEach(room => {
                    const listItem = document.createElement('li');
                    listItem.textContent = room.subwayLine;
                    listItem.addEventListener('click', function() {
                        enterRoom(room.roomId);
                    });
                    roomList.appendChild(listItem);
                });
            })
            .catch(error => {
                console.error('chatRoom load fail:', error);
            });
    }

    function enterRoom(roomId) {
        const sender = prompt('대화명을 입력해 주세요.');
        if (sender !== null && sender.trim() !== '') {
            localStorage.setItem('sender', sender);
            localStorage.setItem('roomId', roomId);
            location.href = '/chat/room/enter/' + roomId;
        }
    }

</script>
</body>
</html>
